main {
  padding: 2rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    padding: 2rem 10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    padding: 2rem 25rem;
  }
}
