.cooking-time-container {
  display: grid;
  gap: 20rem;
  text-align: center;
}

.cooking-time {
  display: grid;
  gap: 4rem;
}

.cooking-time-adjustment {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.minutes {
  font-size: 6rem;
}

.decrement-time-btn,
.increment-time-btn {
  align-items: center;
  background-color: var(--color-bold);
  border-radius: 50%;
  display: flex;
  padding: 3rem;
}

.cooking-time-next-btn {
  background-color: var(--color-highlight);
}
