.recipe-container {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.recipe-container h1 {
  margin-bottom: 0;
}

.get-recipe-btn-container {
  display: grid;
  gap: 3.5rem;
  margin: auto;
}

.markdown {
  background-color: #f3f2f2;
  border-radius: 1rem;
  padding: 4rem 2rem;
  display: grid;
  font-size: 1.8rem;
  gap: 2rem;
}

.recipe-btn-container {
  margin: 4rem auto;
}

.restart-btn {
  background-color: var(--color-highlight);
  max-width: 50rem;
  padding: 1.25rem 5rem;
}
