.recipe-container {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.recipe-container h1 {
  margin-bottom: 0;
}

.get-recipe-btn-container {
  display: grid;
  gap: 3.5rem;
  margin: auto;
}

.markdown {
  display: grid;
  gap: 1.5rem;
}

.recipe-btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem auto;
}

.restart-btn {
  background-color: var(--color-highlight);
  max-width: 50rem;
  padding: 1.25rem 5rem;
}
