.add-ingredients-container {
  display: grid;
  gap: 4rem;
  text-align: center;
}

.add-ingredients {
  display: grid;
  gap: 1rem;
}

.add-ingredients-form {
  display: grid;
  gap: 1rem;
}

.add-ingredients-input {
  width: 100%;
}

.add-ingredients-btn {
  background-color: var(--color-bold);
  padding: 0.75rem 2.5rem;
  max-width: 50rem;
}

.ingredients-list-container {
  min-height: 5rem;
}

.ingredients-list {
  display: grid;
  gap: 0.5rem;
}

.ingredients-list-item {
  font-size: 1.8rem;
}

.ingredients-next-btn {
  background-color: var(--color-highlight);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .add-ingredients {
    display: grid;
    gap: 5rem;
  }
}
