.introduction-container {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.introduction-header-container {
  margin-top: 10rem;
}

.introduction-header {
  font-size: 4.8rem;
  font-weight: 900;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

.introduction-paragraph-container {
  margin-bottom: 8rem;
}

.introduction-paragraph {
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  font-weight: 400;
}

.introduction-btn-container {
  display: flex;
  justify-content: center;
}

.start-btn {
  background-color: var(--color-highlight);
  padding: 1.25rem 5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .introduction-header {
    font-size: 6rem;
  }
  .introduction-paragraph {
    font-size: 3.2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .introduction-container {
    margin: 15rem 0;
  }
  .introduction-header-container {
    margin-top: 0;
  }
  .introduction-header {
    font-size: 7.2rem;
  }
  .introduction-paragraph-container {
    margin-bottom: 8rem;
  }
  .introduction-paragraph {
    font-size: 4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
