.modifications-container {
  display: grid;
  gap: 6rem;
  text-align: center;
}

.modifications-selection-container {
  display: grid;
  gap: 4rem;
}

.add-ingredients-form {
  display: grid;
  gap: 1rem;
}

.add-ingredients-input {
  width: 100%;
}

.add-ingredients-btn {
  background-color: var(--color-bold);
  padding: 0.75rem 2.5rem;
  max-width: 50rem;
}

.ingredients-list-container {
  min-height: 5rem;
}

.ingredients-list {
  display: grid;
  gap: 1rem;
}

.ingredients-list-item {
  font-size: 2rem;
}

.modifications-next-btn {
  background-color: var(--color-highlight);
  padding: 1.25rem 5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modifications-container {
    gap: 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
