.recipe-container {
  display: grid;
  gap: 20rem;
  text-align: center;
}

.recipe-btn-container {
  display: grid;
  gap: 3.5rem;
  margin: auto;
}

.download-recipe-btn {
  background-color: var(--color-bold);
  padding: 0.75rem 2.5rem;
  max-width: 50rem;
}

.restart-btn {
  background-color: var(--color-highlight);
  max-width: 50rem;
  padding: 1.25rem 5rem;
}
