.recipe-quantity-container {
  display: grid;
  gap: 20rem;
  text-align: center;
}

.recipe-quantity {
  display: grid;
  gap: 4rem;
}

.recipe-quantity-adjustment {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.recipe-quantity {
  font-size: 6rem;
}

.decrement-recipe-quantity-btn,
.increment-recipe-quantity-btn {
  align-items: center;
  background-color: var(--color-bold);
  display: flex;
  padding: 0.75rem 2rem;
  max-width: 50rem;
}

.recipe-quantity-next-btn {
  background-color: var(--color-highlight);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
