.recipe-quantity-container {
  display: grid;
  gap: 20rem;
  text-align: center;
}

.recipe-quantity {
  display: grid;
  gap: 4rem;
}

.recipe-quantity-adjustment {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.recipe-quantity {
  font-size: 6rem;
}

.decrement-recipe-quantity-btn,
.increment-recipe-quantity-btn {
  align-items: center;
  background-color: var(--color-bold);
  border-radius: 50%;
  display: flex;
  padding: 2.75rem;
}

.recipe-quantity-next-btn {
  background-color: var(--color-highlight);
}
