.dietary-restrictions-container {
  display: grid;
  gap: 4rem;
  text-align: center;
}

.dietary-restrictions {
  display: grid;
  gap: 4rem;
}

.dietary-restrictions-form {
  display: grid;
  gap: 1rem;
}

.add-modification-btn {
  background-color: var(--color-bold);
  padding: 0.75rem 2.5rem;
  max-width: 50rem;
}

.dietary-restrictions-list {
  display: grid;
  gap: 0.5rem;
}

.restrictions-list-item {
  font-size: 1.8rem;
}

.get-recipe-btn {
  background-color: var(--color-highlight);
  padding: 1.25rem 5rem;
}
