.servings-container {
  display: grid;
  gap: 20rem;
  text-align: center;
}

.serving-size {
  display: grid;
  gap: 4rem;
}

.servings-adjustment {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.servings {
  font-size: 6rem;
}

.decrement-servings-btn,
.increment-servings-btn {
  align-items: center;
  background-color: var(--color-bold);
  display: flex;
  padding: 0.75rem 2rem;
  max-width: 50rem;
}

.servings-next-btn {
  background-color: var(--color-highlight);
}
